.img-footer{
    width: 5rem;
    margin: 2rem;
}

.img-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(130, 255, 130);
    height: 200px;
    /* overflow: hidden; */
    position: static;
    z-index: 1000;
}

.prueba{
    display: flex;
    align-items: center;
}

.publicidades{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}